.bg-dashboard{
  background-color: hsl(163.7deg 38.66% 46.67%);
}

.option-hover{
  transition: 0.30s;
}

.option-hover:hover{
  background-color: #198754;
  transition: .30s;
}

#offcanvas-menu{
  width: 17rem;
}

.dashboard-btn{
  height: 9rem;
  width: 9rem;
  max-width: 10rem;
}

.dashboard-btn h3{
  font-size: 1rem;
}